@model IEnumerable<FamilyCenterApp.Models.MessageModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Message")">
        <i class="glyphicon glyphicon-plus"></i>
        &nbsp;
        Add Message
    </a>
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(item.ImgURL)" style="width: 50%; height: 50%" />
        </div>
        <div class="col-md-8 @(@item.TimeStamp > DateTime.Now ? "alert-success" : "")">
            @item.MessageText
        </div>
    </div>
    <div class="btn-group" role="group" style="float: right">
        <a href="@Url.Action("Edit", "Message", new { id = item.Id })">
            <i class="glyphicon glyphicon-pencil"></i>
            &nbsp;
            Edit
        </a>&nbsp; | &nbsp;
        <a href="@Url.Action("Details", "Message", new { id = item.Id })">
            <i class="glyphicon glyphicon-log-in"></i>
            &nbsp;
            Details
        </a>&nbsp; | &nbsp;
        <a href="@Url.Action("Delete", "Message", new { id = item.Id })">
            <i class="glyphicon glyphicon-remove"></i>
            &nbsp;
            Delete
        </a>
    </div>
    <br /><hr/>
}
